.gameGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameGrid>div:first-child {
    padding-top: 1px;
}

.gridRow {
    background-color: lightgray;
    display: flex;
    gap: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.gridRow div {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

.presetHovering {
    background-color: lightcoral;
}

.gameShell {
    height: calc(100% - 50px); /* 50px for nav height */
}

.lifeControls {
    position: absolute;
    top: 81px;
    left: 19px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 21px;
    background-color: #fff;
    display: flex;
}

.lifeControls a {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
}

.lifeControls a:hover {
    cursor: pointer;
}

.lifeControls a svg {
    width: 100%;
    height: 100%
}

.lifeControls input {
    width: 5rem;
}

.lifePresetsContainer {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
}

.lifePresetsContainer > a {
    border: 2px solid black;
    border-right: none;
    border-radius: 2rem 0 0 2rem;
    width: 1rem;
    height: 2rem;
    padding-left: 0.1rem;
    align-self: center; 
    background-color: white;
    display: flex;
    align-items: center;
}

.lifePresetsContainer > a > svg {
    width: 1rem;
    height: 1rem;    
}

.lifePresetsContainer .lifePresetsList {
    width: 4rem;
    background-color: white;
    border: 2px solid black;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
}

.lifePresetsList > .lifeGridStatic {
    padding: 10px;
    transition: 0.3s padding;
}

.lifePresetsList > .lifeGridStatic:hover {
    padding: 5px;
}

.lifeGridStatic {
    display: grid;
    gap: 1px;
}

.lifeGridStatic:hover {
    cursor: pointer;
}

.lifeGridStatic:hover .alive {
    background-color: green;
}

.lifeGridStatic > div {
    aspect-ratio: 1;
}
