.gameGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameGrid>div:first-child {
    padding-top: 1px;
}

.gridRow {
    background-color: lightgray;
    display: flex;
    gap: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.gridRow div {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

.presetHovering {
    background-color: lightcoral;
}

.gameShell {
    height: calc(100% - 50px); /* 50px for nav height */
}