@import "../../common/Colors.module.scss";

// constants 
$tileWidth: 75px;
$tileHeight: $tileWidth;

.tileContainer {
    border: 1px solid #555;
    border-radius: 3px;
    width: $tileWidth;
    height: $tileHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    background-color: white;

    & > div {
        height: calc($tileHeight / 5);
    }

    &.hasShield {
        background-color: lightblue;
    }
}

.middleRow {
    display: flex;
    justify-content: space-between;
}

.adjacencyRow {
    display: flex;
    justify-content: space-around;
}

.canPlace:hover {
    cursor: pointer;

    &.greenHover {
        color: $greenBackground;
    }

    &.redHover {
        color: $redBackground;
    }

    &.purpleHover {
        color: $purpleBackground;
    }

    &.yellowHover {
        color: $yellowBackground;
    }

    &.blueHover {
        color: $blueBackground;
    }
}

.green {
    color: $greenBackground;
}

.red {
    color: $redBackground;
}

.purple {
    color: $purpleBackground;
}

.yellow {
    color: $yellowBackground;
}

.blue {
    color: $blueBackground;
}