.red {
    color: crimson;
}

.gridCell {
    aspect-ratio: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.gridCellHovering {
    background-color: #eee;
    cursor: pointer;
}

.cellIcon {
    display: block;
    margin: auto;
    height: 75%;
}

.boardContainer {
    max-width: 750px;
    margin: 50px auto 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.boardGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    border: 2px solid black;
    gap: 2px;
}

.columnGrid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    gap: 2px;
}