.cardContainer {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
}

.cardHidden {
    background-color: aqua;
}

.red {
    color: crimson;
}

.cardHeader {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.cardBottomRow {
    rotate: 180deg;
}

.cardCenter {
    font-size: 65px;
    margin: -15px 0;
}

.stacked {
    position: relative;
    display: inline-block;
}

.stacked > div {
    position: absolute;
    background-color: #fff; /* makes it non-transparent */
}