.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;

    & > div {
        display: flex;
        justify-content: center;
    }
}