.gameCardContainer {
  background-color: #e7e7e7;
  border-radius: 5px;
  width: 250px;
  padding-bottom: 15px;
}

.gameCardIconSection {
  height: 210px;
}

$transitionTime: 0.25s;
$iconSpace: 20px;

.fancyLink {
  display: inline-block;
  position: relative;
  padding: 10px calc(12px + $iconSpace/2);
  color: black;
  background-color: rgb(135, 229, 130);
  border-radius: 5px;
  text-decoration: none;
  transition:
    background-color,
    padding $transitionTime ease-in-out;

  & span {
    transition: margin-left $transitionTime ease-in-out;
  }

  & svg {
    opacity: 0;
    transition: opacity $transitionTime linear;
  }

  & .iconWrapper {
    position: absolute;
    left: 25px;
    transition: left $transitionTime ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: rgb(117, 207, 111);
    padding: 10px 12px;

    & span {
      margin-left: 20px;
    }

    & svg {
      opacity: 1;
    }

    & .iconWrapper {
      left: 13px;
    }
  }
}
