nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  --nav-height: 49px;
  height: var(--nav-height);
  border-bottom: 1px solid #e7e7e7;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  color: black;
  white-space: nowrap;
}

nav div {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

nav a:hover:not(.selected) {
  background-color: #eee;
}

.selected {
  background-color: rgb(135, 229, 130);
}
