
$disabledTextColor: #666;

$greenBackground: rgb(135, 229, 130);
$greenBackgroundHover: darken($greenBackground, 10);
$greenBackgroundActive: darken($greenBackground, 25);

$greyBackground: #ccc;
$greyBackgroundHover: darken($greyBackground, 10);
$greyBackgroundActive: darken($greyBackground, 25);

$redBackground: rgb(212, 126, 126);

$yellowBackground: rgb(232, 232, 168);

$blueBackground: rgb(139, 164, 199);

$purpleBackground: rgb(225, 146, 221)
