@import "../Colors.module.scss";

.iconButton {
    border: none;
    padding: 7px 10px;
    border-radius: 4px;

    & > svg {
        padding-right: 6px;
    }

    &:hover:not(.disabled) {
        cursor: pointer;
    }

    &.disabled {
        color: $disabledTextColor;
    }

    &.green {
        background-color: $greenBackground;

        &:hover:not(.disabled) {
            background-color: $greenBackgroundHover;
        }
        
        &:active:not(.disabled) {
            background-color: $greenBackgroundActive;
        }
        
    }

    &.grey {
        background-color: $greyBackground;

        &:hover:not(.disabled) {
            background-color: $greyBackgroundHover;
        }

        &:active:not(.disabled) {
            background-color: $greyBackgroundActive;
        }
    }
}